#battle.screen {
  height: 100vh;
  display: flex;
}

#battle.screen #player-one .gameboard .cell:hover {
  cursor: default;
}

#battle.screen #player-one .gameboard .cell:not(.ship):hover {
  background-color: white;
}

@media (orientation: portrait) {
  #battle.screen {
    flex-direction: column;
    min-height: 100vh;
    height: auto;
  }
}
