:root {
  --gameboard-width: min(90vmin, 500px);
  --missed-attack-color: lightsteelblue;
  --ship-color: steelblue;
  --hit-ship-color: lightpink;
  --sunk-ship-color: crimson;
  --cells-background: #f8f8ffed; /* slightly transparent ghostwhite*/
}

.gameboard-wrapper {
  flex: 1;
  justify-content: center;
  align-items: center;
  display: flex;
  gap: 10px;
}

.gameboard {
  aspect-ratio: 2/2;
  width: var(--gameboard-width);
  display: flex;
  pointer-events: none;
  transition: filter 500ms, opacity 500ms;
}

.gameboard > .column {
  flex: 1;
  display: flex;
  flex-direction: column;
  pointer-events: none;
}

.gameboard .cell {
  flex: 1;
  outline: 1px solid midnightblue;
  background-color: var(--cells-background);
  pointer-events: auto;
  cursor: pointer;
  margin: 2px;
}

.gameboard .cell:hover {
  background-color: var(--missed-attack-color);
}

.gameboard .cell.ship {
  background-color: var(--ship-color);
}

.gameboard .cell.hit,
.gameboard .cell.sunk,
.gameboard .cell.missed-attack {
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
}

.gameboard .cell.hit {
  background-color: var(--hit-ship-color);
}

.gameboard .cell.sunk {
  background-color: var(--sunk-ship-color);
}

.gameboard .cell.missed-attack {
  background-color: var(--missed-attack-color);
  font-size: 0.4rem;
}

.gameboard.disabled {
  pointer-events: auto;
  cursor: wait;
  filter: brightness(0.9);
  opacity: 0.5;
}

.gameboard.disabled .cell {
  pointer-events: none;
}

.gameboard-wrapper .ships-tracker > .ships-wrapper {
  width: 100px;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 10px;
}

.gameboard-wrapper#player-two .ships-tracker > .ships-wrapper {
  align-items: flex-start;
}

.ships-tracker .ship {
  flex: 1;
  display: flex;
  gap: 2px;
}

.ships-tracker .ship > .subdivision {
  flex: 1;
  background-color: var(--ship-color);
}

.ships-tracker .ship.sunk > .subdivision {
  background-color: var(--sunk-ship-color);
}

@media (orientation: portrait) {
  .gameboard-wrapper {
    padding: 10% 0;
  }
}

@media (max-width: 300px) {
  .gameboard .cell {
    margin: 1px;
  }
}

@media (max-width: 1340px) {
  .gameboard-wrapper#player-one {
    flex-direction: column-reverse;
  }

  .gameboard-wrapper#player-two {
    flex-direction: column;
  }

  .gameboard-wrapper .ships-tracker {
    width: var(--gameboard-width);
    display: flex;
    justify-content: flex-start;
  }

  .gameboard-wrapper#player-two .ships-tracker {
    justify-content: flex-end;
  }

  .gameboard-wrapper#player-one .ships-tracker > .ships-wrapper {
    align-items: flex-start;
  }

  .gameboard-wrapper#player-two .ships-tracker > .ships-wrapper {
    align-items: flex-end;
  }
}
