.gameboard-wrapper {
  flex: 1;
  justify-content: center;
  align-items: center;
  display: flex;
}

.gameboard-wrapper#player-one {
  background-color: pink;
}

.gameboard-wrapper#player-two {
  background-color: blue;
}

.gameboard {
  aspect-ratio: 2/2;
  width: min(90%, 500px);
  display: flex;
  background-color: white;
  pointer-events: none;
  transition: filter 500ms;
}

.gameboard > .column {
  flex: 1;
  display: flex;
  flex-direction: column;
  pointer-events: none;
}

.gameboard .cell {
  flex: 1;
  outline: 1px solid grey;
  pointer-events: auto;
  cursor: pointer;
}

.gameboard .cell:hover {
  background-color: rgb(210, 224, 230);
}

.gameboard .cell.ship {
  background-color: skyblue;
}

.gameboard .cell.hit {
  background-color: hotpink;
  pointer-events: none;
}

.gameboard .cell.sunk {
  background-color: red;
  pointer-events: none;
}

.gameboard .cell.missed-attack {
  background-color: grey;
  pointer-events: none;
}

.gameboard.disabled {
  pointer-events: auto;
  cursor: wait;
  filter: brightness(0.9);
}

.gameboard.disabled .cell {
  pointer-events: none;
}

.gameboard-wrapper .ships-tracker {
  width: 100px;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.gameboard-wrapper#player-one .ships-tracker {
  align-items: flex-end;
}

.ships-tracker .ship {
  flex: 1;
  display: flex;
  gap: 2px;
}

.ships-tracker .ship > .subdivision {
  flex: 1;
  background-color: yellow;
}

.ships-tracker .ship.sunk > .subdivision {
  background-color: orange;
}
