#pve-battle.screen {
  height: 100%;
  background-color: beige;
  display: flex;
}

#pve-battle.screen #player-one .gameboard .cell:hover {
  cursor: default;
}

#pve-battle.screen #player-one .gameboard .cell:not(.ship):hover {
  background-color: white;
}
