.screen#ships-layout {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.screen#ships-layout input#name {
  width: 400px;
}

.screen#ships-layout .gameboard-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.screen#ships-layout .gameboard .cell:hover {
  cursor: default;
}

.screen#ships-layout .gameboard .cell:not(.ship):hover {
  background-color: white;
}

.screen#ships-layout input#name {
  outline: solid 2px;
}

.screen#ships-layout input#name.valid {
  outline-color: lime;
}
.screen#ships-layout input#name.invalid {
  outline-color: hotpink;
}

.screen#ships-layout input:focus-visible {
  outline-color: skyblue;
}

.screen#ships-layout .gameboard-wrapper .buttons {
  display: flex;
  width: var(--gameboard-width);
  justify-content: space-between;
}

.screen#ships-layout .gameboard-wrapper .buttons > * {
  width: 10ch;
  padding: 5px 10px;
  cursor: pointer;
  box-sizing: content-box;
  margin-top: 10px;
}
